# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
._OpenChargeApp.swift
OpenChargeApp/._ChargePoint.swift
OpenChargeApp/._SearchBarView.swift
OpenChargeApp/._ContentView.swift
OpenChargeApp/Extension/._CLLocationCoordinate2D.swift
._LocationViewModel.swift
._ProcessingView.swift
._ChargePointViewModel.swift
._AuthorizationPermission.swift
._ContentView.swift
OpenChargeApp/._URLSessionHTTPClient.swift
OpenChargeApp/API/._HTTPClient.swift
OpenChargeAppTests/API/._OpenChargeViewModelTests.swift
OpenChargeAppTests/Location/._LocationManagerTests.swift
._PlaceAnnotationView.swift
OpenChargeApp.xcodeproj/._project.xcworkspace
OpenChargeApp/Model/._ChargePoint.swift
OpenChargeApp/Location/._LocationManager.swift
OpenChargeApp/Views/._SearchBarView.swift
._URLSessionHTTPClientTests.swift
._LocationViewModelTests.swift
._OpenChargeApp.xcodeproj
OpenChargeApp/Extension/._AnyTransition.swift
OpenChargeApp/Views/._BottomBarView.swift
OpenChargeApp/Views/._BottomSheetView.swift
OpenChargeApp/Views/Helpers/._Constants.swift
._ChargersViewModel.swift
._Charger.swift
OpenChargeApp/Views/BottomView/._BottomBarView.swift
OpenChargeApp/Views/Charger/._ChargerAnnotationView.swift
OpenChargeApp/Views/Charger/._ChargerScrollView.swift
._BottomSheetView.swift
._ChargerView.swift
._ChargerRow.swift
